


body {
  background: #D2B48C ;
  background: linear-gradient(1deg, #667eea 30%, #764ba2 100%);  /*Gradient */
  justify-content: center;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card img {
  width: 200px;
  height: 300px;
  border-radius: 50%;  /* Makes it a circle */
  object-fit: cover;   /* Ensures image fills the circle */
  margin-bottom: 1rem;

  /* Picture frame effect */
  border: 8px solid #8b6914;  /* Gold/brown frame */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);  /* Shadow for depth */
  padding: 4px;
  background: rgb(255, 255, 255);  /* Inner mat */
}


.card {
  background: #770202;
  border: 3px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem 0;
}

.message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #7cb5fb;
  margin: 1rem 0;
}


 /* Personalized message doesnt work to change the actual color  */
.personalizedMessage{
  font-size: 3rem;
  font-weight: bold;
  color: #2100fb;
  margin: 1rem 0;
}

.error {
  color: #dc2626;
  font-weight: bold;
}

.form {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.form input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form input:focus {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  background: #aaabac;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.form button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background: #e2b93e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background: #cc9c0c;
}

.result {
  margin-top: 1rem;
  padding: 1rem;
  background: rgb(255, 168, 226);
  border: 3px solid #ddd;
  border-radius: 8px;
}